$black: #262526;
$light: #f2e1c2;
$back-red: #f23207;
$accent-red: #d9310b;
$black-red: #8c2d18;

body {
  min-width: 480px;
  margin: 0;
  padding: 0;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  margin: 0;
  padding: 0;
}

ul,
li,
a,
button {
  all: unset;
}

.perlinback {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  background-image: url("./assets/perlinback.png");
  background-position-x: center;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

.wrapper {
  margin: auto;
  position: relative;
  z-index: 2;
  padding: 0 5px 0 10px;
  max-width: 1440px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;

  @media (min-width: 540px) {
    padding: 0 45px;
  }

  @media (min-width: 960px) {
    padding: 0 60px;
  }

  @media (min-width: 1180px) {
    padding: 0 120px;
  }
}

.link {
  color: $light;
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: 400;
  letter-spacing: 0.1px;

  &:hover {
    color: $accent-red;
  }
}

.btn {
  background-color: $light;
  color: $black;
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;

  &:hover {
    color: $light;
    background-color: $back-red;
  }

  @media (min-width: 960px) {
    padding: 11px 15px;
    font-size: 16px;
  }
}

.header {
  margin-top: 32px;
  height: 40px;
  display: flex;

  &__logo {
    width: 82px;
    height: 36px;
    margin-right: auto;
    margin-left: 1px;
  }

  &__nav {
    display: none;
    list-style-type: none;
    align-items: center;

    @media (min-width: 960px) {
      display: flex;
    }

    & > li {
      margin-left: 30px;
      text-transform: uppercase;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__btn {
    margin: -1px -1px 0px 41px;
  }

  &__burger {
    display: block;
    align-self: center;
    margin: 3px 20px 0;

    @media (min-width: 960px) {
      display: none;
    }
  }
}

.main {
  position: relative;
  margin-top: 45px;
  padding-left: 33px;

  @media (min-width: 960px) {
    margin-top: 120px;
  }

  &__line {
    position: absolute;
    display: block;
    top: 0;
    left: -3px;
    height: 100%;
    animation: expandHeight 0.5s ease-out;
  }

  &__subtitle {
    color: $accent-red;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    padding-top: 12px;

    @media (min-width: 960px) {
      font-size: 36px;
    }
  }

  &__text-video {
    width: 98%;
    margin-top: 40px;
  }
}

.text-video {
  position: relative;
  aspect-ratio: 1 / 0.4485;
  overflow: hidden;

  &__video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-clip-path: url(#clipPathMars);
    clip-path: url(#clipPathMars);
  }

  &__svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

/* burger icon */

.burger {
  position: relative;
  width: 30px;
  height: 30px;
  transition-duration: 0.5s;

  &:hover {
    cursor: pointer;
  }

  &__left {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 15px;
    top: 10px;
    background-color: $light;
    left: 0px;

    &:before {
      transition-duration: 0.5s;
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: $light;
      content: "";
      top: -10px;
    }

    &:after {
      transition-duration: 0.5s;
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: $light;
      content: "";
      top: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__right {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 15px;
    top: 10px;
    background-color: $light;
    left: 15px;

    &:before {
      transition-duration: 0.5s;
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: $light;
      content: "";
      top: -10px;
    }

    &:after {
      transition-duration: 0.5s;
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: $light;
      content: "";
      top: 10px;
    }
  }

  &.open &__left {
    transition-duration: 0.5s;
    background: transparent;
    &:before {
      transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
    }
    &:after {
      transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
    }
  }

  &.open &__right {
    transition-duration: 0.5s;
    background: transparent;
    &:before {
      transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
    }
    &:after {
      transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
    }
  }
}

@keyframes moveBackgroundToLeftFromCenter {
  0% {
    background-position-x: center;
  }
  100% {
    background-position-x: left;
  }
}

@keyframes moveBackgroundToRightFromCenter {
  0% {
    background-position-x: center;
  }
  100% {
    background-position-x: right;
  }
}

@keyframes moveBackgroundToCenterFromRight {
  0% {
    background-position-x: right;
  }
  100% {
    background-position-x: center;
  }
}

@keyframes moveBackgroundToCenterFromLeft {
  0% {
    background-position-x: left;
  }
  100% {
    background-position-x: center;
  }
}
