@font-face {
  font-family: "Bebas Neue";
  src: url("/assets/bebas-neue.ttf");
}

$black: #262526;
$light: #f2e1c2;
$back-red: #f23207;
$accent-red: #d9310b;
$black-red: #8c2d18;

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

h1 {
  margin: 0;
  padding: 0;
}

ul,
li,
a,
button {
  all: unset;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: initial;
  border: initial;
  padding: initial;
  margin: initial;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.starsback {
  position: fixed;
  z-index: -2;
  top: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;

  background-image: url("/assets/background.png");
  background-image: -webkit-image-set(
    url("/assets/background.png") 1x,
    url("/assets/background.webp") type("image/webp") 1x
  );
  background-image: image-set(url("/assets/background.webp") type("image/webp") 1x, url("/assets/background.png") 1x);

  background-position-x: left;
  background-attachment: fixed;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
}

.perlinback {
  position: fixed;
  z-index: -1;
  top: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  background-image: url("/assets/perlinback.png");
}

.wrapper {
  margin: auto;
  position: relative;
  z-index: 2;
  padding: 0 5px 0 10px;
  max-width: 1440px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;

  @media (min-width: 540px) {
    padding: 0 45px;
  }

  @media (min-width: 960px) {
    padding: 0 60px;
  }

  @media (min-width: 1180px) {
    padding: 0 120px;
  }
}

.link {
  color: $light;
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: 400;
  letter-spacing: 0.1px;

  &:hover {
    color: $accent-red;
  }
}

.btn {
  background-color: $light;
  color: $black;
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;

  &:hover {
    color: $light;
    background-color: $back-red;
  }

  @media (min-width: 960px) {
    padding: 11px 15px;
    font-size: 16px;
  }
}

.btn-close {
  background: $black;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $light;
  cursor: pointer;
  transition: fill 0.3s ease;

  &:hover {
    fill: $accent-red;
  }
}

.header {
  margin-top: 32px;
  height: 40px;
  display: flex;

  &__logo {
    width: 82px;
    height: 36px;
    margin-right: auto;
    margin-left: 1px;
  }

  &__nav {
    display: none;
    list-style-type: none;
    align-items: center;

    @media (min-width: 960px) {
      display: flex;
    }

    & > li {
      margin-left: 30px;
      text-transform: uppercase;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__btn {
    margin: -1px -1px 0px 41px;
  }

  &__burger {
    display: block;
    align-self: center;
    margin: 3px 20px 0;

    @media (min-width: 960px) {
      display: none;
    }
  }
}

.main {
  position: relative;
  margin-top: 45px;
  padding-left: 33px;

  @media (min-width: 960px) {
    margin-top: 120px;
  }

  &__line {
    position: absolute;
    display: block;
    top: 0;
    left: -3px;
    height: 100%;
    animation: expandHeight 0.5s ease-out;
  }

  &__subtitle {
    color: $accent-red;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    padding-top: 12px;

    @media (min-width: 960px) {
      font-size: 36px;
    }
  }

  &__text-video {
    width: 98%;
    margin-top: 40px;
  }
}

.text-video {
  position: relative;
  aspect-ratio: 1 / 0.4485;
  overflow: hidden;
  visibility: hidden;

  &_loaded {
    visibility: visible;
  }

  &__video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-clip-path: url(#clipPathMars);
    clip-path: url(#clipPathMars);
  }

  &__svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

/* burger icon */

.burger {
  position: relative;
  width: 30px;
  height: 30px;

  &:hover {
    cursor: pointer;
  }

  &__left {
    position: absolute;
    height: 4px;
    width: 15px;
    top: 10px;
    background-color: $light;
    left: 0px;

    &:before {
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: $light;
      content: "";
      top: -10px;
    }

    &:after {
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: $light;
      content: "";
      top: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__right {
    position: absolute;
    height: 4px;
    width: 15px;
    top: 10px;
    background-color: $light;
    left: 15px;

    &:before {
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: $light;
      content: "";
      top: -10px;
    }

    &:after {
      position: absolute;
      width: 15px;
      height: 4px;
      background-color: $light;
      content: "";
      top: 10px;
    }
  }
}

@keyframes moveBackgroundToLeftFromCenter {
  0% {
    background-position-x: center;
  }
  100% {
    background-position-x: left;
  }
}

@keyframes moveBackgroundToRightFromCenter {
  0% {
    background-position-x: center;
  }
  100% {
    background-position-x: right;
  }
}

@keyframes moveBackgroundToCenterFromRight {
  0% {
    background-position-x: right;
  }
  100% {
    background-position-x: center;
  }
}

@keyframes moveBackgroundToCenterFromLeft {
  0% {
    background-position-x: left;
  }
  100% {
    background-position-x: center;
  }
}

.mobile-menu {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $light;
  height: 100%;
  display: none;

  &_open {
    display: block;
    opacity: 0;
    visibility: visible;
  }

  &__wrapper {
    position: relative;
    height: 100%;
  }

  &__ul {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 30px;
  }

  &__ul .link {
    color: $black;
    font-size: 32px;
    transition: color 0.3s ease;

    &:hover {
      color: $accent-red;
    }
  }

  &__btn-close {
    position: absolute;
    top: 50px;
    right: 50px;
  }
}

.service-form {
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $light;
  display: none;

  &_open {
    display: block;
    opacity: 0;
    visibility: visible;
  }

  &__wrapper {
    margin-top: 89px;
  }

  &__head {
    position: relative;
    margin: 0 0;

    @media (min-width: 730px) {
      margin: 0 50px;
    }

    @media (min-width: 960px) {
      margin: 0 0;
    }
  }

  &__btn-close {
    position: absolute;
    top: 11px;
    right: 3px;
  }

  &__title {
    margin: 0;
    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 3.1px;

    @media (min-width: 540px) {
      font-size: 60px;
    }

    @media (min-width: 730px) {
      font-size: 80px;
    }

    @media (min-width: 960px) {
      font-size: 114px;
    }
  }

  &__body {
    margin: 50px 0 0;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: 730px) {
      margin: 70px 50px 0;
    }

    @media (min-width: 960px) {
      margin: 94px 0 0;
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }

  &__input-block {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__label {
    font-weight: 600;
  }

  &__input {
    padding-bottom: 10px;
    border-bottom: 2px solid $black;
  }

  &__footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    @media (min-width: 960px) {
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  &__btn-buy {
    display: block;
    background-color: $black;
    text-transform: uppercase;
    padding: 10px 90px;
    color: $light;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.3s ease;

    @media (min-width: 960px) {
      padding: 10px 120px;
    }

    &:hover {
      color: $accent-red;
    }
  }
}
